@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    scroll-behavior: smooth;
    
}
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #e7e7e7;
    border-radius: 5px;
    
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#root{
    padding: 0px;
}